*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: "Roboto Condensed", serif;
}
.container{
    background-color: black;
    height: 95%;
    width: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px gray;
    border: solid 1px gray;
}
/*Barra de pesquisa*/
.barra_pesquisa{
    width: auto;
    height: auto;
    position: absolute;
    left: 25%;
    top: 8%;
    transform: translate(-50%, -50%);
}

.barra_pesquisa input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px gray;
    color: black;
}
.barra_pesquisa button{
    height: 35px;
    width: 35px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px;
    border: none;    
}
.barra_pesquisa i{
    color: black;
}

/*Informações em tempo real lado esquerdo*/
.info_tempReal{
    background-color: black;
    height: auto;
    width: 40%;
    position: absolute;
    left: 25%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
    overflow: hidden;
    border-radius: 10px;
    border: solid 1px gray;
    box-shadow: 0px 0px 15px 0px gray;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 80px 0px 80px 0px;

}
.info_tempReal .icon_city{
    display: flex;
    height: auto;
    width: auto;
    gap: 5px;
    
}
.info_tempReal #bandeira_pais{
    margin-left: 25px;
    box-shadow: 0px 0px 10px 0px gray;
}
.humi_wind{
    display: flex;
    width: auto;
    height: auto;
    gap: 15px;
    margin-left: 60px;
    
}
.humi_wind .bar{
    content: "";
    width: 1px;
    border-left: solid 1.5px white;
    box-shadow: 0px 0px 10px 0px white;
    transform:rotate(15deg);
}





.map{
    position: absolute;
    left: 75%;
    top: 65%;
    transform: translate(-50%, -50%);
}